html, body {
    display: flex;
    flex-direction: row;
    background-color: #F6F6F6;
    font-family: 'Instrument Sans';
    margin: 0;
    height: 100%;
    flex: 1;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

main {
    flex: 10;
    padding: 1rem 1rem;
}

.faded {
    opacity: 0.4;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
}

.manage-tasks {
    display: flex;
    background-color: #F6F6F6;
    border-width: 0.8px;
    border-color: #767676;
    border-style: solid;
    font-family: 'Instrument Sans';
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 12px;
    font-weight: 500;
    padding: 1.3rem 2.25rem;
    font-size: 1rem;
    cursor: pointer;
}