nav {
    display: flex;
    padding: 1rem 1rem;
    flex-direction: column;
    background-color: white;
    align-items: center;
    flex: 1;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;                
    padding: 0;
    margin: 3rem 0 0 0;
    list-style: none;
}

nav li {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: transform ease-in-out 0.3s;
}

nav li:hover {
    transform: scale(1.1);
}

.selected {
    font-weight: 600;
    color: #0022FF;
}

img {
    width: 50px;
}